html
  title PUG compilation demo
  style.
      h1 {
          color: #9b9bb4;
      }

body
    h1 PUG Template Engine

    each user in f.users
      li
        strong #{user.name}
        |
        | is a #{user.age} year old #{user.species}
    
    -var  pets = [{ name: "Hazel" },{ name: "Crys"},{ name: "Catcher"},{ log: "xxx"}]

    each pet in pets 
      include block