extends layout

block content
  .container
    h4.title Main Page
    .top-block
      a.top-block__link(href="/out" class="btn btn-warning") Выход
      if (user)
        p.alert.alert-success Добро пожаловать! #{user.name}
      else
        p
          a(href="/registration" class="btn btn-warning") Регистрация
    if (!user)
      form.form-horizontal(class="col-xs-6" action='/login' method='POST')
        .row.form-inline
          label(for="username" class="col-xs-3") Логин
          input(class="form-control col-xs-3" type="text" name="username" required)
        .row.form-inline
          label(for="password" class="col-xs-3") Пароль
          input(class="form-control col-xs-3" type="text" name="password" required)
        .row.form-inline
          input(type="checkbox", name="remember")
          span Запомнить меня
        .row.form-inline
          button(class="btn btn-primary col-xs-12 col-sm-6" type="submit") Войти
      
        if (message && message.length > 0)
          .status.alert.alert-warning(role="alert") #{message}