extends layout

block content
  .container
    .user Login: #{user.login}
    .name Name: #{user.name}
    if (message)
      .status.text-info #{message}
    a(href="/" class="btn btn-warning") Вернуться на главную