address.contacts
  .contacts-header
    span.header-inner-text Контакты
  ul.contacts-list
    li.contacts-item.contacts-item-mail
      a.contacts-link(href="mailto:kovaldn@gmail.com")
        span.contact-text kovaldn@gmail.com
    li.contacts-item.contacts-item-phone
      a.contacts-link(href="tel:+78129892723")
        span.contact-text +7982123456
    li.contacts-item.contacts-item-skype
      a.contacts-link(href="skype:skype_kdn?chat")
        span.contact-text skype_gomer