footer.page-footer
  .container
    .lock
      a.lock-inner(href="/login") Войти
    .copyright © 2015, Это сайт Гомера, пожалуйста, не копируйте и не воруйте его


script(src='/js/vendor.min.js')
script(src="js/main.min.js")

