header.page-header
  .container-big
    a.header-logo-link
      img.logo-img(src="img/logo.png", alt="logo")
      span.header-logo-text Сайт портфолио
    ul.socials
      li.socials-item
        a.socials-link.vk(href="http://vk.com/loftschoolru", target="_blank")
      li.socials-item
        a.socials-link.tw(href="https://twitter.com/loft_blog", target="_blank")
      li.socials-item
        a.socials-link.fb(href="https://ru-ru.facebook.com/loftblog", target="_blank")
      li.socials-item
        a.socials-link.gt(href="https://github.com/kovaldn/", target="_blank")
